{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Finch Collecto</title>
</head>
<body>
    <header>
    <nav>
        <div>
            <ul>
                <li><a href="/"> Finch Collector</a></li>
            </ul>
            <ul>
                <li><a href="/about">About Finches</a></li>
                <li><a href="/finches">All Finches</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    {%block content %} 
    {% endblock %} 
</main>
<footer>
    <div>All Rights Reserved, &copy; 2022 Finch Collector &nbsp</div>
</footer>
</body>
</html>